{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 12 }
        }]
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 12 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 12 }
        }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 12 }
        }]
      ]
    }
  }
}
