
@import './variables';

.gb-field-tabs--small .gb-field-tabs__container .gb-field-tabs__tab {
    height: 28px !important;
    font-weight: 600 !important;
}

.gb-field-tabs__tab * {
    text-decoration: none !important;   
}
