
@import './variables';

.dm-field-tabs--small {
	.dm-field-tabs__tab {
		padding: 2px 10px !important;
		text-decoration: none !important;
	}
}

.dm-field-tabs__name {
	text-decoration: none !important;
}
