@import './variables';

.configDialog {
	&__limitValue {
		vertical-align: middle;
		padding-left: 10px;
	}

	&--longSlider {
		width: 70%;
	}

	&__interHeadline {
		font-size: 15px;
		// font-weight: bold;
		text-align: left !important;
		padding-top: 12px;
		padding-bottom: 12px;
		color: $dialog-title-color;
	}

	body &__table {
        input[type=range] {
            min-height: 0 !important;
            vertical-align: middle;
        }
        
		td {
			vertical-align: middle;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;

			label.radio:first-child {
				padding-left: 0;
			}

			.b-tooltip {
				margin-left: 5px;
			}

			&[colspan] {
				padding-left: 5px !important;
			}
		}

		td:last-child {
			text-align: right;

			button.button {
				display: block !important;
				margin: 0 0 5px auto !important;
				padding: 0 10px;
				line-height: 20px !important;
				height: auto;
			}
		}
	}

	&__configFileLink {
		display: block;
		font-size: 11px;
	}
}
