
.spectro {
	height: var(--spectro-height, 50px);
	width: 100%;
	background: transparent none 0 0 no-repeat;
	background-clip: content-box;
	background-size: 100% 100%;
	position: relative;
	margin-bottom: 3px;
	overflow: hidden;

    .file__item--playing & {
        height: var(--spectro-height-playing, var(--spectro-height));
    }
    
    &, &__progress {
        filter: saturate(var(--spectro-intensity, 100%)) brightness(var(--spectro-intensity, 100%));
    }
    
	&__progress {
		height: 100%;
		width: 100%;
		background: rgba(255,255,255,0.1);
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		transition: transform 0.25s;
		border-right: 1px solid orange;
	}

	&__clickzone {
		height: 100%;
		width: 100%;
		background: transparent;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		cursor: crosshair;
	}


	&__toolbar {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
